body{
	background-image: url("../img/123.jpg");
}

#red{
	color:#FF0000;
	background-color: black;
} 

#red p {
	font-size: 50px;
	text-align: center;
}
#black{
	background-color: green;

}
#black p {
	font-size:50px;
	text-align: right; 
}
#green{
	color:#00FF00;
	background-color: red;
}
#green p{
	font-size: 50px;

}
#logo {
	z-index: 1;
/*	background-image:  url("../img/234.jpg");
	width:200px;
	height:200px;*/
	float:right;
}

#logo img {
	width:200px;
	height:200px;
}
#one p  {
height:50px;
width:50px;
color:red;
}
#one:hover{
	background-color: blue;
}
@media screen and (max-width: 400px) {
   
    #logo img {
    	width:100px;
    	height:100px;
    }
    #red {
    	background-color: white;
    }
}

 nav ul li
 {
 	position: relative;
 	bottom:530px;
 	left:3
 	00px;

    	display:inline-block;
 }

   
